.product_card_description_box h1 ,.product_card_description_box h2 ,.product_card_description_box h3,
.product_card_description_box h4 ,.product_card_description_box h5 ,.product_card_description_box h6{
    font-weight: bold;
    color: #696969;
    margin: 11px 0;
}
.product_card_description_box p{
    margin: 11px 0;
}
.product_card_description_btn{
    border-radius: 12px;
  overflow: hidden;
  color: var(--color1);
  background-color: #fff;
  border: 1px solid var(--color1);
  padding: 4px 12px;
  margin: 16px auto;
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
.product_card_description_box{
    background: var(--color3); 
    border-radius: 16px;
    color: #808080;
    padding: 12px;
    margin: 20px 0; 
}
