
@media (max-width: 1024px) { 
    .mainSideBar{
    
      width: 100%;
      position: fixed;
      background: #767676a6;
      z-index: 999;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 30px 30px 110px 30px;
      margin: 0;
      overflow: auto;
    }
}