.product_sidebar_box{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.08);
    background-color: #FDFDFD;
    border-radius:  24px;
   
    padding: 12px;
}
.product_sidebar_box ul{
    font-size: 13px;
}
.product_sidebar_box ul span svg{
    width: 17px;
    height: 17px;
}
.close_filter svg {
    width:18px;
    height: 18px;
    margin-right: 6px;
}
.sidebar_filter svg {
    width:18px;
    height: 18px;
    margin-left: 4px;
}

