.agency_card_box{
    box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 32px;
    overflow: hidden;
    min-height: 140px; 
  position: relative;
  transition: 0.45s;
  min-height: 100%;
}
.agency_card_box:hover{
  background-color: var(--color1);
}
.agency_card_box a{
  padding: 20px 8px;
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.agency_card_box  h2{
    font-weight: 700;
  font-size: 16px;
  color: #525252;
  margin-top: 10px;
  transition: 0.45s;
  min-height: 30px;
  text-align: center;
}
.agency_card_box:hover h2{
 color: #fff;

}
.agency_card_shadow{
  position: absolute;
  bottom: 0;
  right: 45px;
  bottom: -54px;
  opacity: 0.025;
  filter: invert(1) brightness(0);
  transition: 0.45s;
}
.agency_card_box:hover .agency_card_shadow {
  right: 50%;
  bottom: 50%;
  opacity: 1;
  transform: translate(50% , 23%);
  filter: brightness(0) invert(1);
}
.agency_card_shadow svg{
  width: 140px;
  height: 140px;
  transition: 0.45s;
}
.agency_card_box:hover .agency_card_shadow svg{
  width: 66px;
  height: 66px;
}

@media (max-width: 992px) {
  .agency_card_box:hover .agency_card_shadow {
   
    transform: translate(50% , 7%);
  }
  .agency_card_box > a> svg{
    width: 45px;
    height: 45px;
  }
  .agency_card_box:hover .agency_card_shadow svg{
    width: 45px;
    height: 45px;
  }
  .agency_card_box > a h2{
  font-size: 14px;
}
 }

