.product_card_box{
    background-color: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);
   border-radius: 16px;
   overflow: hidden;
   padding: 14px 12px;
}

.product_card_img{
    display: block;
    position: relative;
    z-index: 0;
   
}
.product_card_img img{
    max-height: 144px;
    width: auto;
}
.product_card_img::after{
    content: "";
    width: 100%;
    height: 100%;
   position: absolute;  
  background-image: url("../../../public/home/prdback.png");
    background-position: center;
    background-repeat: no-repeat;
  left: 0;
  top: 0;
  z-index: -1;
  background-size: contain;
  opacity: 0.25;
  transition: 0.4s;
}
.product_card_box:hover .product_card_img::after{
    opacity: 1;
}
.product_card_brand{
    display: flex;
  justify-content: center;
  padding: 7px;
}
.product_card_detail{
    border-top: 1px solid #F5F5F5;
    display: flex;
    justify-content: center;
    color: #696969;
    font-size: 12px; 
}

.product_card_detail >span{
    display: flex;
padding: 5px 15px;
flex-direction: column;
align-items: center; 
}
.product_card_title{
    font-size: 13px;
    padding: 5px 0;
    font-weight: 600;
    line-height: 22px;
    transition: 0.4s;
    text-align: left;
}
.product_card_box:hover .product_card_title{
color: var(--color1);
}
@media (max-width: 992px) { 
    .product_card_box{
        display: flex;
    }
    .product_card_box_bottom{
        display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  padding-right: 8px;
    }
    .product_card_detail{
        border: none;
        justify-content: flex-start;
    }
    .product_card_detail >span{
    padding: 2px 10px;
    }
}