.maskmenu {
  background-color: #000000a3;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 990;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.mobile_menu_box {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 999;
  background: #fdfdfd;
  border-radius: 24px;
  width: calc(100% - 50px);
  max-width: 500px;
  margin: auto;
  padding: 12px 15px;
  color: #525252;
  transition: 0.4s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  top: 30px;
  max-height: calc(100% - 50px);
  overflow: auto;
}

.mobile_menu_box svg path {
  fill: #525252;
}
.main_header_submenu_level2 {
  margin-top: 14px;
  margin-bottom: 14px;
}
.main_header_submenu_level2 li {
  font-weight: bold;
  margin: 10px 0;
}
.main_header_submenu_level1 li a {
  display: flex;
  align-items: center;
}
.main_header_submenu_level1 li a svg {
  width: 25px;
  height: 25px;
  margin-left: 4px;
}
.activesubmenu {
  color: var(--color1);
}
.activesubmenu span svg {
  transform: rotateX(180deg);
}
.main_header_submenu_level1 {
  background-color: var(--color3);
  border-radius: 16px;
  padding: 15px 12px;
}
.mobile_menu_clk svg {
  pointer-events: none;
}
.main_header_submenu_back {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 15px;
  padding: 6px 0 19px;
}
.main_header_submenu_back svg {
  transform: rotateY(180deg);
  pointer-events: none;
}
.header_menu_btn {
  background: var(--color1);
  width: 38px;
  height: 38px;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  cursor: pointer;
}
.header_menu_btn svg {
  pointer-events: none;
}
@media (max-width: 992px) {
  .header_menu_btn {
    display: inline-flex;
  }
}
