.main_header_wrap {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: auto;
}
.main_header_box {
  box-shadow: 0px 8px 12px 0px rgba(0, 0, 0, 0.12);
  background-color: var(--color3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 54px;
  border-radius: 24px;
}
.main_header_menu {
  display: flex;
}
.main_header_menu li {
  padding: 5px 12px;
  margin: 0 5px;
  position: relative;
}
.main_header_menu li a {
  transition: 0.45s;
  display: flex;
  align-items: center;
  color: #525252;
}
.main_header_menu li a svg {
  margin-right: 4px;
}
.main_header_menu li a svg path {
  transition: 0.45s;
}
.main_header_menu li a:hover svg path {
  fill: var(--color4);
}
.main_header_menu li a:hover {
  color: var(--color4);
}
.main_header_menu > li:hover .main_header_submenu {
  opacity: 1;
  pointer-events: all;
}
.main_header_submenu {
  position: absolute;
  right: 0;
  top: 100%;
  background: var(--color3);
  z-index: 2;
  min-width: 162px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  transition: 0.45s;
  pointer-events: none;
}
.main_header_submenu_prd a svg{
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.main_header_submenu_prd a svg:nth-of-type(2){
  margin-right: auto;
  margin-left: 0;
}
.main_header_submenu_prd a svg:nth-of-type(2) path{
  fill:#525252
}
.main_header_submenu_prd:hover ul{
  opacity: 1;
  pointer-events: all;
}
.main_header_submenu_level2 {
  position: absolute;
  right: 100%;
  top: 0;
  background: var(--color3);
  z-index: 2;
  min-width: 162px;
  border-radius: 15px;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.12);
  opacity: 0;
  pointer-events: none;
  transition: 0.45s;
}
.main_header_submenu li {
  margin: 5px 0;
}
.header_search_btn {
  border: 1px solid #ababab;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 16px;
  cursor: pointer;
  transition: 0.45s;
}
.main_header_btn_part1 {
  display: flex;
  align-items: center;
}
.main_header_btn_part2 {
  display: none;
}
.header_search_btn:hover {
  background-color: var(--color4);
}
.main_header_btn {
  color: var(--color1);
  font-size: 13px;
  font-weight: bold;
  transition: 0.45s;
  display: inline-flex;
  align-items: center;
}
.main_header_btn:hover {
  color: var(--color4);
}
.main_header_btn .main_header_btn_part1 svg {
  height: 18px;
}
.main_header_btn svg path {
  fill: var(--color1);
  transition: 0.45s;
}
.main_header_btn:hover .main_header_btn_part1 svg path {
  fill: var(--color4);
}

@media (max-width: 1300px) {
  .main_header_menu li {
    padding: 5px;

    font-size: 13px;
  }
  .main_header_menu li a svg {
    width: 13px;
    height: 13px;
  }
  .main_header_btn {
    font-size: 12px;
  }
  .main_header_btn .main_header_btn_part1 svg {
    width: 16px;
  }
  .main_header_box {
    padding: 8px 10px;
  }
  .main_header_logo {
    max-width: 140px;
  }
}
@media (max-width: 992px) {
  .main_header_btn .main_header_btn_part1 {
    display: none;
  }
  .main_header_btn_part2 {
    display: inline-block;
  }
  .main_header_btn {
    border: 1px solid #ababab;
    width: 40px;
    height: 40px;
    margin-left: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.45s;
  }
  .main_header_menu {
    display: none;
  }
}
