.datePicker {
  width: 80%;
  position: relative;
}
.datePicker input {
  width: 100%;
  height: 48px;
  padding: 16px;
  resize: none;
  border: 1px solid #d1d5db;
  background-color: white;
  border-radius: 16px;
}
.datePicker.activeLabel label{
    transform: translateY(-24px);
    background: #fff;
    padding: 0 5px;
    transition: 0.4s;
}

.datePickerDetail{
  width: 100%;
  position: relative;
}
.datePickerInputStyle {
  width: 100%;
  height: 48px;
  padding: 16px;
  resize: none;
  border: 1px solid #d1d5db;
  background-color: white;
  border-radius: 16px;
}
 .datePickerMainInputHide{
  all:unset;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.datePickerDetail.activeLabel label{
  transform: translateY(-24px);
  background: #fff;
  padding: 0 5px;
  transition: 0.4s;
}


.formNumInput input::-webkit-outer-spin-button,
.formNumInput input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.formNumInput input[type=number] {
  -moz-appearance: textfield;
}