/* .backgroundImage {
    position: relative;
    overflow: hidden;
  } */
  
  .backgroundImage::before {
    content: "";
    background: url("/compare/Patterns.svg") no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    width: 410px;
    height: 410px;
    transform: rotateY(180deg);
    background-size: contain;
    background-position: center;
    /* top: 30%; */
    top:20px;
    right: 10%;
    z-index: 0;
    /* background-attachment: fixed; */
  }
  
  .backgroundImage::after {
    content: "";
    background: url("/compare/Patterns.svg") no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    width: 410px;
    height: 410px;
    transform: rotateY(180deg);
    background-size: contain;
    background-position: center;
    /* top: calc( 20px + 410px); */
    top:  430px;
    left: 10%;
    /* left:calc(50%-205px); */
    z-index: 0;
    /* background-attachment: fixed; */
  }
  

  .containerFormGreen{
    position: relative;
    border-radius: 24px;
}


.containerFormGreen::before{
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-image: url('/forms/Noise.svg');
    background-repeat: repeat;
    background-position: 50% 0;
    background-size: contain;
    border-radius: 24px;
}