/* .backgroundImage {
    position: relative;
    overflow: hidden;
  } */
  
  .backgroundImage::before {
    content: "";
    background: url("/compare/Patterns.svg") no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    width: 410px;
    height: 410px;
    transform: rotateY(180deg);
    background-size: contain;
    background-position: center;
    /* top: 30%; */
    top:20px;
    right: 10%;
    z-index: 0;
    /* background-attachment: fixed; */
  }
  
  .backgroundImage::after {
    content: "";
    background: url("/compare/Patterns.svg") no-repeat;
    position: absolute;
    background-repeat: no-repeat;
    filter: brightness(0) invert(1);
    width: 410px;
    height: 410px;
    transform: rotateY(180deg);
    background-size: contain;
    background-position: center;
    /* top: calc( 20px + 410px); */
    top:  430px;
    left: 10%;
    /* left:calc(50%-205px); */
    z-index: 0;
    /* background-attachment: fixed; */
  }
  

 