.container {
  position: relative;
  overflow: hidden;
}

.container::before {
  content: "";
  background: url(/home/Vector.svg) no-repeat;
  position: absolute;
  opacity: 0.1;
  background-repeat: no-repeat;
  filter: brightness(0) invert(1);
  width: 826px;
  height: 826px;
  transform: rotate(90deg) translate(0px, 50%);
  background-size: contain;
  left: 50%;
  top: 0;
  transform-origin: center;
}

@media (min-width: 992px) {
  .container::before {
    width: 1200px;
    height: 1200px;
  }
}