.container {
  position: relative;
  /* overflow: hidden; */
}

.container::before {
  content: "";
  /* width: 100%; */
  background: url("/single-product/full-sun-bg-single-product-header.svg")
    no-repeat;
  position: absolute;
  opacity: 0.25;
  background-repeat: no-repeat;
  /* background-position: top; */
  filter: brightness(0) invert(1);
  width: 376px;
  height: 378px;
  transform: rotateY(180deg);
  background-size: contain;
  /* top: -413px;
    right: -62px; */
  /* transform-origin: 50% 50%; */
  background-position: center;
  top: -188px;
  left: -188px;
  /* max-width: 70%; */
}

@media (min-width: 728px) {
  .container::before {
    right: -188px;
  }
}
.containerSecond {
  position: relative;
  /* overflow: hidden; */
}

.containerSecond::before {
  content: "";
  /* width: 100%; */
  background: url("/single-product/full-sun-bg-single-product-header.svg")
    no-repeat;
  position: absolute;
  opacity: 0.25;
  background-repeat: no-repeat;
  /* background-position: top; */
  filter: brightness(0) invert(1);
  width: 376px;
  height: 378px;
  transform: rotateY(180deg);
  background-size: contain;
  /* top: -413px;
      right: -62px; */
  /* transform-origin: 50% 50%; */
  background-position: center;
  top: -188px;
  right: -188px;
  /* max-width: 70%; */
}

.more_details::before {
  background: linear-gradient(
    0deg,
    rgba(247, 247, 247, 1) 0%,
    rgba(247, 247, 247, 0.6027661064425771) 50%,
    rgba(247, 247, 247, 0.26102941176470584) 100%
  );
}


.gradient_white_bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width:48%;
  height: 100%;
  background: linear-gradient(270deg, #FFF 0%, rgba(217, 217, 217, 0.00) 100%);
}

.containerColorfull {
  position: relative;
  overflow: hidden;
}

.containerColorfull::before {
  content: "";
  /* width: 100%; */
  background: url("/single-product/full-sun-bg-single-product-header.svg")
    no-repeat;

  position: absolute;
  opacity: 0.15;
  background-repeat: no-repeat;
  /* background-position: top; */
  filter: brightness(0) invert(1);
  width: 376px;
  height: 378px;
  transform: rotateY(180deg);
  background-size: contain;
  /* top: -413px;
      right: -62px; */
  /* transform-origin: 50% 50%; */
  background-position: center;
  top: -188px;
  right: -188px;
  /* max-width: 70%; */
  filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
  -webkit-filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
  -moz-filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
  -o-filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
  -ms-filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
  filter: invert(64%) sepia(51%) saturate(5970%) hue-rotate(160deg)
    brightness(93%) contrast(101%);
}



